<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="sessionService.getIsLogin() == false">Log In</ion-title>
    <ion-title *ngIf="sessionService.getIsLogin() == true">Log Out</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="sessionService.getIsLogin() == false">
    <ion-card-content>
      <form #driverLoginForm="ngForm" (ngSubmit)="driverLogin(driverLoginForm)">
        <ion-item>
          <ion-label position="stacked">
            <ion-icon name="person-circle-outline"></ion-icon> Username
          </ion-label>
          <ion-input type="text" id="username" name="username" [(ngModel)]="username" minlength="4" maxlength="24"
            required="true" #inusername="ngModel" placeholder="Username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">
            <ion-icon name="shield-checkmark"></ion-icon> Password
          </ion-label>
          <ion-input type="password" id="password" name="password" [(ngModel)]="password" minlength="4" maxlength="32"
            required="true" #inpassword="ngModel" placeholder="Password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-button class="ion-activatable ripple-parent" type="submit" expand="block" size="default" color="warning">
            Login
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-button class="ion-activatable ripple-parent" (click)="clear()" color="warning">
            Clear
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
          </ion-button>

          <ion-button class="ion-activatable ripple-parent" (click)="registerDriver()" color="warning">
            Register
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
          </ion-button>
        </ion-item>



      </form>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="sessionService.getIsLogin() == true">
    <ion-card-content>
      <ion-header style="text-align: center;"> Are You Sure You Want To Log Out? <br> If Yes, Click The Button
        Below</ion-header>
      <ion-button slot="secondary" expand="block" (click)="driverLogout()" *ngIf="sessionService.getIsLogin() == true" color="warning">
        <ion-icon slot="start" name="log-out"></ion-icon>
        Logout
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-title>&copy; 2021 IS3106</ion-title>
  </ion-toolbar>
</ion-footer>