<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="text-align: center">
    <ion-card-content style="text-align: center;">
      <ion-avatar style="width: 80%; height: 80%; margin: auto;">
        <img src="{{'http://localhost:8080/OTFood-war/uploadedFiles/drivers/' + currentDriver.profilePicture}}">
      </ion-avatar>
    </ion-card-content>
    <ion-item style="text-align: center">
      <ion-label>
        <h1><b>{{currentDriver.firstname}} {{currentDriver.lastName}} </b></h1>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>
        <h2>Username: {{currentDriver.username}} </h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Age: {{currentDriver.age}} </h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Monthly Earnings: {{currentDriver.monthlyEarnings}}</h2>
      </ion-label> 
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Status: {{currentDriver.active}}</h2>
        </ion-label>
    </ion-item>
  </ion-card>

  <ion-button color="warning" expand="block" size="default" (click)="updateDetails()" style="width: 90%; margin: auto">
    <ion-icon name="create-outline"></ion-icon>
    &nbsp; Update Details
  </ion-button>

</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-title>&copy; 2021 IS3106</ion-title>
  </ion-toolbar>
</ion-footer>