<ion-header>
  <ion-toolbar class="toolbarstyle" style="text-align: center;">    
    <ion-title style="color: white;">
      Item Details
    </ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content>

      <ion-card>      
        <ion-card-content>   
          <ion-grid>
            <ion-row>
              <ion-col style="font-weight: bolder;" size="9">Item</ion-col>
              <ion-col style="font-weight: bolder;" size="3">Quantity</ion-col>
            </ion-row>
            <ion-row *ngFor="let listItem of saleTransactionLineItems">
              <ion-col class="itemlabel" size="9">{{ listItem.meal.name }}</ion-col>
              <ion-col class="itemlabel" size="3" style="text-align: right;">{{ listItem.quantity }}</ion-col>
            </ion-row>
          </ion-grid>
          <br/>
        </ion-card-content>     
      </ion-card>
      <ion-button color="warning" expand="full" (click)="closeModal()">Return</ion-button>

  </ion-content>
