<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center;"><h1>Wallet Amount</h1></ion-card-title>
    </ion-card-header>
    <ion-card-content style="text-align: center;">        
      <p style="font-size: 100pt;">${{driver.wallet}}</p>     
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" color="warning" size="large" (click)="cashOut()">Cash Out</ion-button>
</ion-content>


<ion-footer>
  <ion-toolbar color="light">
    <ion-title>&copy; 2021 IS3106</ion-title>
  </ion-toolbar>
</ion-footer>