// ion-content {
//     --background: url(../../assets/background.jpg) no-repeat center/cover fixed;
//   }
.toolbar {
    --background: black;
    
    
}
.backbutton {
    transform: translateX(-100px);
}
.headertext {
    transform: translateX(-25px);
}
.align {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttonclick {
    transform: translateY(350px);
}