<ion-header>
  <ion-toolbar class="toolbar">
    <div class="align">
      <div class="backbutton">
        <ion-button fill="clear" (click)="back()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </div>
      <div class="headertext">
        <ion-title style="color: white;">Accept An Order</ion-title>
      </div>
    </div>
    
  </ion-toolbar>
</ion-header>

  <ion-content style="text-align: center;">
    <div class="buttonclick">
      <ion-button size="large" shape="round" color="warning" (click)="onSearch()" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Search For Orders</ion-button>
    </div>
  </ion-content>



