<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>OOTD Driver</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Touch someone's life with our specially curated OOTD Food Bentos. Please drive swiftly but safely :P
      </p>

    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="light"> 
    <ion-title>&copy; 2021 IS3106</ion-title>
  </ion-toolbar>
</ion-footer>