<ion-header>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-toolbar color="primary">
    <ion-title>My Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #updateCustomerForm="ngForm" (ngSubmit)="updateDriverModal()">
    <ion-list>
      <!-- <ion-item>
      <ion-label><b>Profile Picture/b></ion-label>
      <ion-input placeholder="test" type="text" id="lastName" name="lastName" [(ngModel)]="currentDriver.lastName"
        required="true" #lastName="ngModel"></ion-input>
    </ion-item> -->

      <ion-item>
        <ion-label><b>First Name</b></ion-label>
        <ion-input placeholder="test" type="text" id="firstname" name="firstname" [(ngModel)]="currentDriver.firstname"
          required="true" #firstname="ngModel"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label><b>Last Name</b></ion-label>
        <ion-input placeholder="test" type="text" id="lastName" name="lastName" [(ngModel)]="currentDriver.lastName"
          required="true" #lastName="ngModel"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label><b>Age</b></ion-label>
        <ion-input placeholder="test" type="number" id="age" name="age" [(ngModel)]="currentDriver.age" required="true"
          #age="ngModel"></ion-input>
      </ion-item>



    </ion-list>


    <ion-button expand="block" type="submit"> Update</ion-button>
    <ion-button expand="block" (click)="closeModal()"> Close</ion-button>
  </form>
</ion-content>